<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link href="/css/styles.css" rel="stylesheet" />
<link href="/css/nes.css" rel="stylesheet" />
</head>
  <body>
    <section class="navBar">
      <div class="topLeft">
	<div class="mLogo">
	    <div class="authorDate">
	      <a href="/"><h1 class="is-primary">0x85</h3></a>
	</div>
	</div>
      
      <div class="topRight"></div>
    </section>
  <div class="content">
    <div class="column">
