/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    font-family: 'Press Start 2P', cursive; */

.content {
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.content img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
}

pre code {
    background-color: #1e1e1e;
    color: #fff;
    display: block;
    padding: 1rem;
    overflow-x: auto;
}
    

@media (min-width: 980px){
    .content {
	max-width: 980px;
	text-align: left;
	padding: 0;
    }
}
